.ana-kapsul{font-family:Arial, Helvetica, sans-serif;width:600px;padding:10px;margin:20px auto;line-height:140%;}
.ana-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ana-logo{height: 40vmin;pointer-events: none;}
@media (prefers-reduced-motion: no-preference) {
  .ana-logo {
    animation: ana-logo-spin infinite 20s linear;
  }
}
@keyframes ana-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.yorumlar-kapsul{border:1px solid #ddd;padding:5px;margin-bottom:10px;margin-top:20px;}
.yorumlar-kapsul .yorum{display:block;margin-bottom:10px;border-bottom:1px solid #dedede;padding-bottom:10px;}
.yorumlar-kapsul .yorum:last-child{border-bottom:none;}
.yorumlar-kapsul .yorum .sol .isim{display:block;}
.yorumlar-kapsul .yorum .sol .tarih{display:block;font-size:10px;font-style: italic;}



.ornek-yorumlar-liste-kapsul{margin-top:20px;width:400px;}
.ornek-yorumlar-liste-kapsul .ara{width:100%;}
.ornek-yorumlar-liste-kapsul .input{width:100%;margin-bottom:5px;}
.ornek-yorumlar-liste-kapsul ul{margin-top:10px;list-style-type:none;}
.ornek-yorumlar-liste-kapsul ul li span{display:inline-block;margin-right:10px;}