.kutu1{background-color:rgb(152, 170, 170);color:#fff;padding:5px;margin-top:10px;display:inline-block;float:left;}
.kutu2{background-color:rgb(66, 184, 184);color:#fff;padding:5px;margin-top:10px;display:inline-block;float:left;margin-left:5px;}
.kutu3{background-color:rgb(134, 109, 224);color:#fff;padding:5px;margin-top:10px;}